body{
    background: blueviolet;
}

header {
    font:Normal 18pt Arial ;
    text-align: center;
    color: white;
}

h2 {
    color: rgba(255, 255, 0, 0.597);
    margin-top: 0;
}

section{
text-align: center;

}
#res{
    text-align: center;
   height:40px;
   font: Normal 19pt arial;
   width: 170px;
   border-radius: 20px;
}

.bt{
    font: normal 12pt arial;
    border-radius: 2px;
    margin-top: 10px;
}
